body, html {
    margin: 0;
    padding: 0;
    height: 100%
}
.font {
    background-image: url('backround1.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}